.Hikers-txt-section {
  grid-area: hikers-txt;
  padding: 10% 10% 0 25%;
  .Hikers-title {
    font-size: calc(2vw + 8px);
  }
  .Hikers-txtcontent {
    font-size: calc(1vw + 0.5px);
    padding: 5px 0;
  }
  .Hikers-link {
    font-size: calc(1vw + 4px);
  }
}
.Hikers-img {
  grid-area: hikers-img;
  width: 100%;
}

