.Reviews-title-section {
  grid-area: reviews-title;
  padding: 30% 10% 30% 30%;
}
.Reviews-title {
  font-size: calc(2vw + 6px);
  width: 90%;
}
.Reviews-stars {
  display: flex;
  padding: calc(1.5vw + 1px) 0;
}
.Reviews-star {
  font-size: calc(1.5vw + 8px);
  color: rgba(255, 114, 24, 1);
  padding: 0 calc(0.1vw + 3px);
}

.Reviews-txt-section {
  grid-area: reviews-txt;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.Reviews-txt-ctnr {
  display: flex;
  align-items: center;
  width: 100%;
}

.Reviews-slide-left-btn {
  cursor: pointer;
  width: 4%;
  padding: 0 10px;
}
.Reviews-left-upper-tick {
  background: rgba(97, 50, 118, 1);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  transform: rotateZ(30deg) translateY(1px);
}
.Reviews-left-lower-tick {
  background: rgba(97, 50, 118, 1);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  transform: rotateZ(-30deg) translateY(-1px);
}
.Reviews-slide-right-btn {
  cursor: pointer;
  width: 4%;
  padding: 0 10px;
}
.Reviews-right-upper-tick {
  background: rgba(97, 50, 118, 1);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  transform: rotateZ(-30deg) translateY(1px);
}
.Reviews-right-lower-tick {
  background: rgba(97, 50, 118, 1);
  width: 2px;
  height: 10px;
  border-radius: 2px;
  transform: rotateZ(30deg) translateY(-1px);
}

.Reviews-review-name {
  padding: 0 10px;
  text-align: center;
  font-size: calc(1vw + 4px);
}
.Reviews-review-txt {
  padding: 20px 10px;
  font-size: calc(1vw + 0.5px);
}

.Reviews-slider-dots {
  display: flex;
  justify-content: center;
}
.Reviews-slider-dot {
  background: rgba(255, 199, 24, 1);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0.5;
  &.active-dot {
    opacity: 1;
  }
}
